@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

.App {
  text-align: center;
  background-color: #e0d3c5;
  min-height: 100vh;
  font-family: 'PT Mono', monospace;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #e0d3c5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #e0d3c5;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
